<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet/less" type="text/css" href="./_css/styleExercicio01.less" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicio01</title>
</head>
<body>
    <h1>Exercicio01</h1>
    <h2>Exemplo de uso de LESS</h2>
    <a href="/exercicio01">Exercicio01</a>
    <a href="/less">Home</a>
    <a href="/historia">Historia</a>

    <p><b>Lorem Impsum</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam placeat nostrum cupiditate doloremque ducimus, architecto ipsam laborum et doloribus ullam laboriosam. At laborum porro dicta ipsam? Tenetur blanditiis laboriosam repellendus!</p>
    <br>
    <div id="div-1">
        <b>Div 1</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia qui est tempora! Laborum delectus, minima magnam itaque iusto sed deserunt repellendus! Laborum deserunt cum corrupti cupiditate, nesciunt blanditiis hic in.
    </div>
    <br>
    <div id="div-2">
        <b>Div 2</b>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad recusandae voluptates eos unde atque distinctio ea nisi ipsa accusantium corporis! Officiis earum ratione tempore possimus quisquam maiores dolore error cum!
    </div>
    <div id="div-3">
        <b>Div 3</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa qui facilis consectetur ex, incidunt ducimus ipsam blanditiis quaerat placeat, libero nam provident? Officia aperiam laborum numquam vel, molestiae voluptas tempore.
    </div>
    <script src="https://cdn.jsdelivr.net/npm/less" ></script>
    <script>
        less = { env: 'production' }; /*pode ser production - se for development mostra os erros no console*/
    </script>
</body>
</html>