<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet/less" type="text/css" href="./_css/style.less" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Historia</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus reiciendis aspernatur provident quis, voluptates exercitationem magni fugit pariatur facilis, ipsum hic aliquid laboriosam a sint odit laborum! Repellendus, ipsum suscipit.</p>
    <a href="/less">historia</a>
    <a href="/exercicio01">Exercicio</a>


    <script src="https://cdn.jsdelivr.net/npm/less" ></script>
</body>
</html>